doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title= nicknisi
		link(rel="stylesheet" href="/styles/main.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
	body.beef
		input#navigation-toggle(type="checkbox")
		nav#navigation-menu
			label#menu-link(for="navigation-toggle")
				i.fa.fa-bars
			ul
				div.title
					a(href="#") Nick Nisi
				li
					i.icon.fa.fa-home
					a(href="/") Home
				li
					i.icon.fa.fa-user
					a(href="/about") About
				li
					i.icon.fa.fa-rocket
					a(href="/projects") Projects
				li
					i.icon.fa.fa-envelope
					a(href="/contact") Contact
			h3 Recent Posts
			!= partial("_partials/posts", { maxPosts: 5, showDate: false })
		#wrapper
			header#header
				a(href="/")
					img(src="#{author_picture}" height="120")
			.container
				aside#sidebar.grid-2
					.bio
						img.biopic(src="#{author_picture}" height="90px")
						h2 Nick Nisi
						p A software developer with a passion for web technologies
						ul.social-links
							li
								a(href="https://github.com/#{github}")
									i.icon.fa.fa-github
							li
								a(href="https://twitter.com/#{twitter}")
									i.icon.fa.fa-twitter
							li
								a(href="mailto:#{email}")
									i.icon.fa.fa-envelope
				section#content.grid-8.main
					- if (title) {
						h1 #{title}
					- }
					!= yield
			footer#footer
				div Nick Nisi
		script(src="/components/prism/prism.js")
