---
import { type CollectionEntry } from 'astro:content';

type ProjectType = CollectionEntry<'projects'>['data'];

interface Props {
	project: CollectionEntry<'projects'>;
}

import { getAsset } from '@/utils/image.js';
import { Image } from 'astro:assets';
import Card from './Card.astro';

const {
	data: { name, url, roles, description, status, image },
} = Astro.props.project;
---

<Card title={name} image={image} imagePosition="bottom" imageFit="contain">
	<a href={url} target="_blank" class="no-underline">
		<div class="flex">
			<div class="align-items-center flex place-content-evenly justify-items-center">
				<div class="flex w-64 flex-col">
					<p class="mb-2 w-64 p-2 text-sm">{description}</p>
				</div>
			</div>
		</div>
		<div class="flex place-content-baseline">
			{
				roles.map(role => (
					<span class="last mr-1 inline-block rounded-full bg-teal-200 px-2 py-1 text-xs font-semibold uppercase text-teal-700 last:mr-0">
						{role}
					</span>
				))
			}
			{
				status === 'inactive' && (
					<span class="last mr-1 inline-block rounded-full bg-red-200 px-2 py-1 text-xs font-semibold uppercase text-red-700 last:mr-0">
						{status}
					</span>
				)
			}
		</div>
	</a>
</Card>
