---
interface Props {
  title: string;
  description: string;
  role: string;
  avatar: string;
  url: string;
  status?: 'active' | 'inactive';
}

const { title, url, role, description, avatar, status } = Astro.props;
---

<div class="flex flex-col align-center justify-center
  rounded-lg shadow-lg
  bg-cool-gray-50 dark:bg-cool-gray-900
  place-content-evenly p-2 py-4 space-x-2 space-y-2 m-2
  text-cool-gray-900 dark:text-cool-gray-50
  not-prose
  ">
  <a href={url} target="_blank" class="no-underline">
    <div class="flex">
      <div class="flex justify-items-center align-items-center place-content-evenly">
        <img alt="JS Party" class="rounded w-16 h-16 mx-2" src={avatar} />
        <div class="flex flex-col w-64">
          <h5 class="text-xl leading-tight font-medium">{title}</h5>
          <p class="text-sm mb-2 p-2 w-64">{description}</p>
        </div>
      </div>
    </div>
    <div class="flex place-content-baseline">
      <span class="text-xs font-semibold inline-block py-1 px-2 rounded-full uppercase
        last text-teal-700 bg-teal-200 last:mr-0 mr-1">
        {role}
      </span>
      {status === 'inactive' && (
        <span class="text-xs font-semibold inline-block py-1 px-2 rounded-full uppercase
          last text-red-700 bg-red-200 last:mr-0 mr-1">
          {status}
        </span>
      )}
    </div>
  </a>
</div>
