---
import { type CollectionEntry } from 'astro:content';
import { getThumbnail } from '@/utils/image.js';
import { Image } from 'astro:assets';

type Talk = CollectionEntry<'talks'>['data'];

interface Props {
	talk: Talk;
}

const { talk } = Astro.props;
const { source, url, title, location, date, type } = talk;
const thumbnail = await getThumbnail(talk);
---

<div
	class="xs:flex-grow w-89 not-prose text-lg m-2 space-x-2 space-y-2 rounded-lg bg-cool-gray-50 p-2 pb-6 shadow-lg md:flex-1 dark:bg-cool-gray-900"
>
	<a href={url} target={source === 'page' ? undefined : '_blank'} class="no-underline">
		<div class="flex flex-col items-center gap-4 px-2 pb-4 pt-1 text-center">
			<Image
				class="not-prose mx-1 aspect-video h-auto w-56 rounded-lg object-cover pb-1"
				src={thumbnail as ImageMetadata}
				alt={title}
				width={205}
				height={111}
				quality="high"
			/>
			<h5 class="h-12 text-center text-xl font-bold leading-tight text-gray-900 dark:text-gray-100">
				{title}
			</h5>
			<div class="align-content-center justify-content-center flex flex-col">
				{(<div class="text-sm font-bold text-blue-gray-600 dark:text-blue-gray-200">{date}</div>)}
				{
					location && (
						<div class="text-lg h-8 font-medium leading-tight text-gray-600 dark:text-gray-200">{location}</div>
					)
				}
				<div class="pt-4">
					<span
						class="last mr-1 inline-block min-w-24 rounded-full bg-purple-700 px-2 py-1 font-sans text-base font-semibold uppercase text-gray-100 shadow-lg shadow-gray-200 last:mr-0"
					>
						{type}
					</span>
				</div>
			</div>
		</div>
	</a>
</div>
