// generate a list of blog posts
ul.post-list
	- var posts = public.posts._data, keys = Object.keys(posts);
	- for (var i = 0; i < Math.min(maxPosts, keys.length); ++i) {
		- var post = posts[keys[i]], slug = keys[i];
			- if (post.published) {
				li.post
					- if (showDate) {
					div.date #{post.date}
					- }
					h3.title
						i(clas="icon icon-#{post.type || 'post'}")
						a(href="/posts/#{slug}") #{post.title}
					- if (post.summary) {
						p.summary #{post.summary}
					- }
			- }
		- }
