---
import metadata from '../data/metadata.json';
import BaseLayout from '../layouts/Base.astro';
import Posts from '@/components/Posts.astro';
import Tag from '@/components/Tag.astro';
import { getPosts } from '@/utils/common';
import { Icon } from 'astro-icon/components';
import { getAsset } from '@/utils/image.js';
import { Image } from 'astro:assets';
import { BlueskyPost } from '@astro-community/astro-embed-bluesky';
import { getCollection } from 'astro:content';

const blueskyPosts = await getCollection('bluesky');
const profileImage = await getAsset('profile.jpg');
const allPosts = await getPosts();
const tags: string[] = [...new Set(allPosts.map(post => post.data.tags).flat())];
---

<BaseLayout>
	<div class="py-10">
		<div class="flex flex-col items-center">
			<div class="flex flex-col items-center justify-center gap-10 md:flex-row">
				<div class="text-2xl font-bold sm:text-3xl lg:text-4xl">
					{metadata.description}
				</div>
				<div
					class="text-blue-500 inline-flex h-32 w-32 flex-shrink-0 items-center justify-center rounded-full sm:mr-10 md:h-64 md:w-64"
				>
					<Image
						src={profileImage}
						alt="Nick Nisi - author"
						width={512}
						height={512}
						quality="max"
						class="mx-auto h-32 w-32 rounded-full object-cover shadow-lg drop-shadow-md md:h-64 md:w-64"
					/>
				</div>
			</div>
			<div
				class="flex w-full items-center justify-center pt-2 text-gray-200 md:items-end md:justify-start md:pt-0 dark:text-gray-700"
			>
				{
					['raphael:vim', 'mdi:language-typescript', 'mdi:react', 'mdi:nodejs', 'mdi:language-javascript'].map(name => (
						<Icon name={name} class="h-8 w-8" />
					))
				}
			</div>
			<p class="mt-2 leading-8">
				A Front End Staff Engineer who specializes in JavaScript and web development. An expert in TypeScript and is
				dedicated to delivering the best developer experience. Frequent speaker at meetups and conferences, conference
				organizer and emcee, panelist on the <a href="https://jsparty.fm">JS Party podcast</a>, and an organizer of the <a
					href="https://nebraskajs.com">NebraskaJS</a
				>
				meetup.
				<a class="font-bold text-purple-700 dark:text-purple-200" href="/about">More about me.</a>
			</p>

			<section class="flex flex-col gap-4 sm:flex-row">
				<div>
					<h3 class="my-4 mt-8 text-2xl">Latest Skeets</h3>
					<div class="flex flex-col justify-start gap-4">
						{blueskyPosts.map(post => <BlueskyPost id={post.id} />)}
					</div>
				</div>

				<div class="flex flex-col">
					<h3 class="my-4 mt-8 text-4xl">Latest posts</h3>
					<div class="flex items-center justify-center">
						<Posts limit={6} />
					</div>

					<h3 class="my-4 mt-8 text-2xl">Tags</h3>
					<div class="flex flex-initial flex-wrap items-center justify-start space-x-2">
						{tags.map(tag => <Tag name={tag} />)}
					</div>
				</div>
			</section>
		</div>
	</div>
</BaseLayout>
