---
indexify: true
---

doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
	channel  
		title= site.title
		link= site.url
		description= site_description
		atom:link(href="#{ url }/feed.xml", rel="self", type="application/rss+xml")
		each post in site.posts
			item
				title= post.title
				description <![CDATA[!{ post.content }]]>
				pubDate= new Date(post.date)
				link #{ site.url }/posts/#{ post.slug }
				guid(isPermaLink="true") #{ site.url }/posts/#{ post.slug }
